/* Body */

body {
	background-color: #181818;
	padding: 5px 20px;
	margin: 0;
}

h1, h2, h3 p, ul, li {
	font-family: sans-serif;
}

/* Header */

ul.header li {
	display: inline;
	list-style-type: none;
	margin: 0;
}

ul.header {
	background-color: #111;
	padding: 0;
}

ul.header li a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
}

.active {
	background-color: #0099FF;
}

/* Content */

.content {
	background-color: #FFF;
	padding: 5px 20px 20px;
}

.grid {
	display: grid;
	grid-template-columns: 40px 220px 280px 100px 40px 80px 80px;
	line-height: 25px;
}

.list-item-odd {
	background-color: #ddd;
}

.biglist {
	width: 100% !important;
}

.col {
	padding-left: 5px;
}

.grid-header {
	font-weight: 700;
	background-color: #181818;
	color: #fff;
	overflow: hidden;
}

.instock div:first-child {
	background-color: green;
}

.outofstock div:first-child {
	background-color: red;
}

.lessthan10 div:first-child {
	background-color: orange;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

.red {
	color: red;
}

@media all and (max-width: 980px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}

	body {
		padding: 20px 0px;
	}

	.content {
		padding: 5px 10px 20px;
	}
}

@media all and (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

/* Footer */

.footer {
	color: #fff;
	padding: 10px;
}
